@import 'settings';
@import 'foundation-emails';

.container {
  &-header {
    background-color: $light-gray !important;
  }

  &-content {
    background-color: $white !important;
  }

  &-footer {
    background-color: $dark-gray !important;
  }
}
