@import 'settings';
@import 'foundation-emails';

.container {
  &-header {
    background-color: $light-gray !important;
  }

  &-content {
    background-color: $white !important;
  }

  &-footer {
    background-color: $dark-gray !important;
  }
}

// Clases para presentation
.presentation {
  &-title {
    color: $black;
  }

  &-subtitle {
    color: $dark-gray;
  }
}

.paragraph { color: $black; }

// Clases de utilidad
.text-align {
  &--center {
    text-align: center;
  }
}

.margin-bottom--remove {
  margin-bottom: 0;
}
